<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>IBM_emp_0201MVC_Single-Table</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

   <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>Post_ResponseServlet</servlet-name>
		<servlet-class>com.post_Response.controller.Post_ResponseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Post_ResponseServlet</servlet-name>
		<url-pattern>/post_Response/post_Response.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>com.post.controller.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post/post.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DBGifReader4</servlet-name>
		<servlet-class>com.post.controller.DBGifReader4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReader4</servlet-name>
		<url-pattern>/post/DBGifReader4</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OffiMsgServlet</servlet-name>
		<servlet-class>com.offiMsg.controller.OffiMsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OffiMsgServlet</servlet-name>
		<url-pattern>/offiMsg/offiMsg.do</url-pattern>
	</servlet-mapping>
	

</web-app>
